@model Domain.Bislerium.ViewModels.ChangePasswordViewModel

<div class="container-fluid center-container">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Change Password</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="ChangePassword" asp-controller="User" method="post">
                            <div class="mb-3">
                                <label for="inputPreviousPassword" class="form-label">Previous Password</label>
                                <input type="password" class="form-control" id="inputPreviousPassword" name="PreviousPassword" placeholder="Enter your previous password" required>
                                <span asp-validation-for="PreviousPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="inputNewPassword" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="inputNewPassword" name="NewPassword" placeholder="Enter your new password" required>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="inputConfirmPassword" name="ConfirmPassword" placeholder="Confirm your new password" required>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary w-100">Change Password</button>
                        </form>
                    </div>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
                    }   

                </div>
            </div>
        </div>
    </div>
</div>
