@model Domain.Bislerium.Blog

@{
    ViewData["Title"] = "Add Blog";
}

<h2>Add a New Blog</h2>

<form asp-action="Test" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
        <input asp-for="UserId" type="hidden" class="form-control" />
        <input asp-for="UpVote" type="hidden" class="form-control" />
        <input asp-for="DownVote" type="hidden" class="form-control" />
  
    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        @* <input type="file" name="image" asp-for="Image" class="form-control" /> *@
        <input type="file" name="image" asp-for="Image" class="form-control" accept="image/*" maxlength="3145728" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
